certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
idna==3.11
linkify-it-py==2.0.3
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
pillow==12.0.0
platformdirs==4.5.1
pycparser==2.23
Pygments==2.19.2
requests==2.32.5
rich==14.2.0
rich-pixels==3.0.1
textual==6.10.0
typing_extensions==4.15.0
uc-micro-py==1.0.3
urllib3==2.6.2
